.babelrc
.eslintrc.js
test/*.json
src/**/*.ts
src/**/*.tsx
shims/*
*.local.*
.github
.vscode
commitlint.config.js
prettier.config.js
tsconfig.json
tsdown.config.ts
lint-staged.config.js
index-src.ts
eslint.config.mjs
