#plugin-prophet {
  padding: 5px 10px;
}
#plugin-prophet .fleet-container {
  display: flex;
  overflow: hidden;
}
#plugin-prophet .prophet-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
#plugin-prophet .compass-arrow {
  border-radius: 50%;
  border: 1px solid;
}
#plugin-prophet .alv {
  display: inline-block;
}
#plugin-prophet .hp-progress {
  flex-direction: row;
  display: flex;
}
#plugin-prophet .hp-bar.progress,
#plugin-prophet .hp-bar.progess-bar:before {
  background-color: transparent !important;
}
#plugin-prophet .hp-bar.progress {
  /*background-color: #1F1F1F;*/
  /* background-color: rgba(0, 0, 0, 0.2); */
}
#plugin-prophet .hp-bar.lost.progress-bar {
  background-color: rgba(255, 255, 255, 0.1);
}
#plugin-prophet .progress-bar-grey {
  background-color: rgba(255, 255, 255, 0.1);
}
#plugin-prophet .cond-indicator {
  margin-left: 0.5em;
}
#plugin-prophet .fleet-view {
  flex: 1;
  padding: 0 5px;
  width: 50%;
}
#plugin-prophet .ship-view {
  width: 50%;
  padding-right: 7px;
}
#plugin-prophet .ship-hp {
  width: 50%;
  white-space: nowrap;
  flex: 1;
}
#plugin-prophet .ship-item.escaped {
  opacity: 0.4;
}
#plugin-prophet .ship-item.compact .ship-avatar-container {
  position: absolute;
}
.prophet-icon {
  width: 15px;
}
.result-icon {
  width: 20px;
  margin-right: 0.5ex;
}
.spot-icon {
  width: 20px;
  margin-right: 0.5ex;
}
.item-icon .prophet-icon.png {
  width: 25px;
  margin: -5px -5px;
}
#plugin-prophet .div-row {
  display: flex;
  flex-flow: row;
}
#plugin-prophet .progress {
  margin-bottom: 5px;
  height: 7px;
  width: 100%;
}
#plugin-prophet .ship-hp .hp-indicator {
  position: relative;
  border-left: black 1px solid;
  height: 4px;
  z-index: 1000;
}
#plugin-prophet .ship-item {
  margin-bottom: 5px;
}
#plugin-prophet .ship-info {
  flex: 1;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-width: 0;
}
#plugin-prophet .ship-info .ship-damage {
  white-space: nowrap;
  vertical-align: bottom;
  padding-top: 3px;
  opacity: 0.8;
  text-align: right;
}
#plugin-prophet .ship-item.compact.avatar .ship-damage {
  flex: 1;
}
#plugin-prophet .ship-info .ship-name {
  flex: 1;
  padding-top: 3px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#plugin-prophet .status-cond {
  margin-left: auto;
}
#plugin-prophet .status-cond .ship-cond {
  display: table;
  align-self: flex-end;
  text-align: right;
}
.prophet-tip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.prophet-tip >div {
  line-height: 160%;
}
.prophet-tip .item-icon {
  margin-right: 0.25em;
}
.prophet-tip .alv {
  margin-left: 0.25em;
}
.prophet-tip .ship-essential >span,
.prophet-tip .ship-parameter >span {
  margin-right: 0.5em;
  font-size: 80%;
}
.prophet-tip .ship-parameter {
  margin-bottom: 0.5em;
}
.prophet-tip .item-info {
  white-space: nowrap;
}
.prophet-pop .tooltip-inner{
  max-width: initial;
  min-width: 230px;
  width: fit-content;
}
.prophet-tip .item-attr .level {
  font-weight: bold;
  color: #45A9A5;
}
.alert.prophet-info {
  color: inherit;
}
#plugin-prophet .combat-title {
  flex: 1;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

#plugin-prophet .combat-vs {
  flex: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: default;
}
#plugin-prophet .next-spot-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#plugin-prophet .result-icon.light {
  background-color: #ccc;
  border-radius: 5px;
}
#plugin-prophet .current-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#plugin-prophet .current-info div + div::before{
  content: '|';
  margin-left: 1ex;
  margin-right: 1ex;
}
#plugin-prophet .compass-icon {
  width: 18px;
}
#plugin-prophet .current-info > span {
  margin: 0 .2ex;
}

#plugin-prophet .next-spot-info .spot-message {
  white-space: normal;
}
