#plugin-prophet
  padding: 1em

  .alv
    display: inline-block

  .hp-text
    background-color: rgba(0,0,0,0)
    text-align: center
    position: absolute
    width: 100%
    z-index: 2
    .black
      font-color: black
    .white
      font-color: white

  .hp-bar.progress,
  .hp-bar.progess-bar:before
    background-color: transparent !important
    height: 1.5em

  .cond-indicator
    margin-left: 0.5em
  
  .ship-view.escaped
    opacity: 0.4
  
  .ship-damage
    text-align: right



// make it glocal because of tooltip
.prophet-icon
  img.svg
  img.png
    width:15px