#plugin-prophet {
  padding: 1em;
}
#plugin-prophet .alv {
  display: inline-block;
}
#plugin-prophet .hp-text {
  background-color: rgba(0,0,0,0);
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}
#plugin-prophet .hp-text .black {
  font-color: #000;
}
#plugin-prophet .hp-text .white {
  font-color: #fff;
}
#plugin-prophet .hp-bar.progress,
#plugin-prophet .hp-bar.progess-bar:before {
  background-color: transparent !important;
  height: 1.5em;
}
#plugin-prophet .cond-indicator {
  margin-left: 0.5em;
}
#plugin-prophet .ship-view.escape {
  opacity: 0.4;
}
#plugin-prophet .ship-damage {
  text-align: right;
}
.prophet-icon img.svg,
.prophet-icon img.png {
  width: 15px;
}
