#plugin-prophet {

}
#plugin-prophet .fleet-container {

}
#plugin-prophet .prophet-info {

}

#plugin-prophet .alv {

}
/* #plugin-prophet .hp-progress {
  flex-direction: row;
  display: flex;
} */
/* #plugin-prophet .hp-bar,
#plugin-prophet .hp-bar:before {
  background-color: transparent !important;
} */
/* #plugin-prophet .hp-bar.progress {
  background-color: #1F1F1F;
  background-color: rgba(0, 0, 0, 0.2);
} */
/* #plugin-prophet .bp3-intent-gray.bp3-intent-gray.bp3-intent-gray {
  background-color: #5C7080;
} */
/* #plugin-prophet .hp-bar.lost.progress-bar {
  background-color: rgba(255, 255, 255, 0.1);
}
#plugin-prophet .progress-bar-grey {
  background-color: rgba(255, 255, 255, 0.1);
} */

#plugin-prophet .fleet-view {

}
#plugin-prophet .ship-view {

}
#plugin-prophet .ship-view .bp3-popover-wrapper,
#plugin-prophet .ship-view .bp3-popover-target {

}
#plugin-prophet .ship-hp {

}
#plugin-prophet .ship-item.escaped {

}
#plugin-prophet .ship-item.compact .ship-avatar-container {

}
.prophet-icon {

}
.result-icon {

}
.spot-icon {

}
.item-icon .prophet-icon.png {
}
#plugin-prophet .div-row {

}
#plugin-prophet .progress {
  /* margin-bottom: 5px;
  height: 7px;
  width: 100%; */
}
/* #plugin-prophet .ship-hp .hp-indicator {
  position: relative;
  border-left: black 1px solid;
  height: 4px;
  z-index: 1000;
} */
#plugin-prophet .ship-item {

}
#plugin-prophet .ship-info {

}
#plugin-prophet .ship-info .ship-avatar-container {

}
#plugin-prophet .ship-info .ship-damage {

}
#plugin-prophet .ship-info .ship-damage.no-pseudo {
}
#plugin-prophet .ship-info .ship-damage.no-pseudo::after {

}
#plugin-prophet .ship-item.compact.avatar .ship-damage {
}
#plugin-prophet .ship-info .ship-name {

}
#plugin-prophet .ship-info .ship-name.half {

}
#plugin-prophet .status-cond {

}
#plugin-prophet .status-cond .ship-cond {

}
/* .prophet-tip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.prophet-tip >div {
  line-height: 160%;
}
.prophet-tip .item-icon {
  margin-right: 0.25em;
}
.prophet-tip .alv {
  margin-left: 0.25em;
}
.prophet-tip .ship-essential >span,
.prophet-tip .ship-parameter >span {
  margin-right: 0.5em;
  font-size: 80%;
}
.prophet-tip .ship-parameter {
  margin-bottom: 0.5em;
}
.prophet-tip .item-info {

}
.prophet-pop .tooltip-inner{
  max-width: initial;
  min-width: 230px;
  width: fit-content;
}
.prophet-tip .item-attr .level {
  font-weight: bold;
  color: #45A9A5;
}
.alert.prophet-info {
  color: inherit;
} */
#plugin-prophet .combat-title {

}

#plugin-prophet .combat-vs {

}
#plugin-prophet .next-spot-info {

}
#plugin-prophet .result-icon.light {

}
#plugin-prophet .current-info {

}
#plugin-prophet .current-info div + div::before{

}
#plugin-prophet .compass-icon {

}
#plugin-prophet .current-info > span {
}

#plugin-prophet .next-spot-info .spot-message {

}

#plugin-prophet .loss {
}

#plugin-prophet .loss::before {

}

#plugin-prophet .loss::after {

}
