#plugin-prophet
  padding: 1em

  .alv
    display: inline-block

  .hp-text
    background-color: rgba(0,0,0,0)
    text-align: center
    position: absolute
    width: 100%
    .black
      font-color: black
    .white
      font-color: white

// make it glocal because of tooltip
.prophet-icon
  img.svg
  img.png
    width:15px